body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #b3b0b0;
            color: white;
            background-image: url(images/10007.jpg);
            /* background-size: cover; */
            background-repeat: no-repeat;
        }

         .sidebar 
        {
          height: 100vh;
          width: 300px;
          background-color:rgba(0, 0, 0, 0.8);
          color: white; 
          flex-direction: column;
          padding-top: 20px;
          position:fixed;
          left: 0;
          top: 0;
          z-index: 1000;  
          display: none;
        }
        .sidebar a
         {
      padding: 12px 20px;
      text-decoration: none;
      color: white;
      display: block;
      font-family: "Archivo Black", sans-serif;
        }
        .sidebar a:hover {
      background-color: #575757;
        }
        .z
        {
             background-color: #575757;
            /* border-radius: 25px; */
            border: none;
            color: white;
            margin-left: 30px;
            margin-top:30px;
            font-size: 18px;
        }
        nav
        {
            position: fixed;
            top:0px;
            width:97.8%;
            background:#111;
            padding:15px;
            z-index:100;
        }
        .n1
        {
            height: 30px;
            margin-left: 40px;
        }
        .a3
        {
            text-decoration: none;
            font-size: 25px;
            color: rgb(255, 252, 252);
            margin-left: 1150px;
            margin-top: -20px;
        }

        .a{
            padding: 60px 20px;
            text-align: center;
            max-width: 900px;
            margin: auto;
            background-color:white;
            border-radius: 25px;
            margin-top: 100px;
        }
        .a:hover
        {
        transform:scale(1.05);
        box-shadow:0 20px 40px rgba(0,0,0,0.3);
        }

        .a h2{
            font-size: 42px;
            margin-bottom: 20px;
            color: #2d2d2d;
            font-family: Arial, Helvetica, sans-serif;
        }
        .a p{
            font-size: 18px;
            line-height: 1.8;
            color: #111;
            font-family: Arial, Helvetica, sans-serif;
        }

        footer{
            background-color:black;
            color:black;
            text-align: center;
            padding: 10px;
            margin-top: 90px;
        }
