body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #fff5e6;
            background-image: url(images/10013.jpg);
            background-size: cover;
        }
        html
        {
            scroll-behavior: smooth;
        }
        .my1
        {
            font-family: "Archivo Black", sans-serif;
        }
         .sidebar 
        {
          height: 100vh;
          width: 300px;
          background-color:rgba(0, 0, 0, 0.8);
          color: white; 
          flex-direction: column;
          padding-top: 20px;
          position:fixed;
          left: 0;
          top: 0;
          z-index: 1000;  
          display: none;
        }
        .sidebar a
         {
      padding: 12px 20px;
      text-decoration: none;
      color: white;
      display: block;
      font-family: "Archivo Black", sans-serif;
        }
        .sidebar a:hover {
      background-color: #575757;
        }
        .z
        {
             background-color: #575757;
            /* border-radius: 25px; */
            border: none;
            color: white;
            margin-left: 30px;
            margin-top:30px;
            font-size: 18px;
        }
        nav
        {
            top:0px;
            width:97.8%;
            background:#111;
            padding:15px;
            z-index:100;
        }
        .n1
        {
            height: 30px;
            margin-left: 40px;
        }
        .a3
        {
            text-decoration: none;
            font-size: 25px;
            color: rgb(255, 252, 252);
            margin-left: 1150px;
            margin-top: -20px;
        }

        .a {
            text-align: center;
            padding: 40px 20px;
        }

        .a12 {
            background: white;
            margin: 20px auto;
            padding: 20px;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .a12:hover
        {
           transform:scale(1.05);
    box-shadow:0 20px 40px rgba(0,0,0,0.3);
        }
        h2{
            color: #262525;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
         p{
            font-size: 18px;
            line-height: 1.6;

        }
        
        footer {
            background-color:black;
            color:black;
            text-align: center;
            padding: 10px;
            margin-top: 30px;
        }
